:host {
	display: flex;
	flex: 0;
	flex-direction: column;
	height: 100%;
	width: 100%;
	text-align: center;
}

div>div:first-child {
	font-size: 1.5em;
}

@media screen and (max-width: 999px) {
	div:first-child {
		display: none;
	}
}
