:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.loadout-application-3dexport-options {
	position: absolute;
	inset: unset;
	top: 50px;
	right: 50px;
	margin: 0;
	background-color: var(--theme-popup-bg-color);
	color: var(--theme-text-color);
	padding: 1rem;
}

.loadout-application-3dexport-options>harmony-switch {
	width: 100%;
}
