.effects {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

unusual-effect {
	cursor: pointer;
	text-align: center;
	height: var(--item-manager-item-size);
	width: var(--item-manager-item-size);
	display: inline-block;
	position: relative;
	background-size: 100%;
}

unusual-effect .name {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #EEE;
}

.active-effects {
	flex: 0 0 auto;
	display: flex;
	overflow: auto;
	cursor: pointer;
}

.active-effect .thumb {
	width: 10rem;
	height: 10rem;
	position: relative;
}

.active-effect .offset {
	display: flex;
	flex-direction: column;
}

@container style(--show-offsets: 0) {
	.active-effect .offset {
		display: none;
	}
}


.effects-list {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	padding-bottom: 300px;
	overflow: auto;
}

/*
.active-effect .remove {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 25%;
}

.active-effect .remove>svg {
	width: 100%;
	height: 100%;
}
	*/

.killstreak-colors {
	display: flex;
}

.killstreak {
	width: 6rem;
	height: 6rem;
	flex: 1;
}
