:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--main-bg-color-bright);
}

.line-active {
	flex: 0;
	display: flex;
}

.line-filters {
	flex: 0;
	flex-flow: column;
	transition: 0.2s;
	display: flex;
}

.line-name-filter {
	flex: 0;
	display: flex;
}

.filter-text {
	flex: 1;
}

.items {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	position: relative;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 300px;
}

.active-items {
	flex: 1;
}

.preset-button {
	border-radius: 0.1rem;
	display: inline-block;
	cursor: pointer;
	padding: 0.25rem;
	color: white;
	pointer-events: all;
	margin: 0.25rem;
	background-color: var(--harmony-ui-accent-primary);
	font-size: 2rem;
	display: flex;
	align-items: center;
	padding: 1rem;
}

.filter-misc-container {
	flex-wrap: wrap;
	display: flex;
	box-sizing: border-box;
	pointer-events: all;
	overflow: auto;
	position: relative;
}

.filter-misc-container>harmony-switch,
.filter-misc-container>harmony-radio {
	--item-manager-filter-misc-container-margin: 0.25rem;
	flex-basis: calc((100% - 6 * var(--item-manager-filter-misc-container-margin)) / 3);
	margin: var(--item-manager-filter-misc-container-margin);
	width: 100%;
}

#filter-text>input {
	width: 100%;
	height: 100%;
}
