:host {
	width: 100%;
	display: flex;
	flex: 1;
	overflow: auto;
	--mini-character-icon-width: 60px;
	/*--item-manager-item-size: 150px;*/
	/*
	--font-size: 0.8rem;
	font-size: var(--font-size);
	*/
}

@media screen and (max-width: 999px) {
	:host {
		flex-direction: column;
	}
}
