:host {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.paints-inner {
	position: absolute;
	height: 400px;
	width: 400px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: var(--theme-popup-bg-color);
	padding: 10px;
}

.paint {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.paint-header {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
}

.paint-title {
	font-size: 1.5em;
	overflow: hidden;
	color: var(--theme-text-color);
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.selected-item {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: 100% auto;
	overflow: hidden;
}
