:host {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.paints-inner {
	position: absolute;
	height: 400px;
	width: 400px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background-color: var(--theme-popup-bg-color);
	padding: 10px;
}
