:host {
	display: inline-flex;
	flex-direction: column;
	width: 20rem;
}

.image {
	height: 20rem;
}

.name {
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	font-size: 1.5rem;
}

.colors {
	display: flex;
	gap: 0.2rem;
	max-width: 40rem;
	flex-wrap: wrap;
}

.color {
	width: 0.75rem;
	height: 0.75rem;
	display: inline-block;
	border-radius: 0.2rem;
	border: 0.1rem solid;
}
