:host {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
    align-items: center;
    justify-content: center;
    display: flex
;
}

.warpaints-inner {
	height: 85%;
	width: 85%;
	background-color: var(--theme-popup-bg-color);
	padding: 0.5rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	pointer-events: all;
	margin: auto;
}

.warpaints {
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}

.warpaint {
	color: var(--main-text-color-dark2);
	pointer-events: all;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: column;
}

.warpaint:hover {
	background-color: rgb(200, 200, 200);
	background-color: var(--main-bg-color-bright);
}

.warpaint-img {
	width: 15rem;
	height: 15rem;
}

.warpaint-name {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	position: absolute;
	bottom: 0px;
}
